/* Magazine Template */
body.magazine_temp.light {
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
  }
  
  
  
  .site-heading.magazine_temp{
    -webkit-text-fill-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-indent: 30px;
    display:table;
    padding-right: 15px;
  }
  
  .sub-heading.magazine_temp{
    -webkit-text-fill-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-indent: 30px;
    display:table;
    padding-right: 15px;
    margin-top: 10px;
  }
  
  .body-text.magazine_temp{
    padding: 10px;
    margin: 10px;
    color: rgb(0, 0, 0);
  }
  
  .modal {
    text-align: center;
  }
  .modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 0rem);
   }