input {
  margin-bottom: 1rem;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.box {
    padding-left: 2rem;
    padding-right: 2rem;
}

.profile-pic{
    max-height: 250px;
    width:fit-content;
    align-self: center;
}

.link-back{
    align-content: right;
    font-size: x-small;
}

header {
    height: 100px;
    background-color: rgb(255, 255, 255);
  }
  .hero {
    padding-bottom: 37.5%; /* = ( 600 / 1600 ) x 100 */
    background-color: rgb(123, 161, 183);
    background-size: cover;
    height: 400px;
  }

  .mask-custom {
    backdrop-filter: contrast(140%) brightness(100%) saturate(100%) sepia(50%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
    mix-blend-mode: lighten;
    background: rgba(161, 44, 199, 0.31);
    opacity: 1;
  }





/* Magazine Template */
body.magazine_temp {
  background-color: #f9f9f9;
  background-image: linear-gradient(225deg, #ffffff 0%, #d1d1d1 100%);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
}

.nav-link.magazine_temp{
  color: rgb(51,102,204);
}


.site-heading.magazine_temp{
  -webkit-text-fill-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-indent: 30px;
  display:table;
  padding-right: 15px;
}

.sub-heading.magazine_temp{
  -webkit-text-fill-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-indent: 30px;
  display:table;
  padding-right: 15px;
  margin-top: 10px;
}

.body-text.magazine_temp{
  padding: 10px;
  margin: 10px;
  color: red;
}


.modal {
  text-align: center;
}
.modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - 0rem);
 }

 #work-image{
  background-color: rgb(123, 161, 183);
  min-height: 100px;
 }