/* All forms */
.form-group {
  margin-bottom: 1rem;
}

/* Register */
.form-signin {
    max-width: 330px;
    padding: 1rem;
}

/* Edit forms */
.box {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Index Footer */
.link-back{
  align-content: right;
  font-size: x-small;
}

/* Index Form */
input{
  margin-bottom: 1em;
}
textarea{
  margin-bottom: 1em;
}
header {
  height: 100px;
  background-color: rgb(255, 255, 255);
}

/* Any Card */
#logo-img{
  width: 30px;
}

#work-image{
  background-color: rgb(123, 161, 183);
  min-height: 100px;
  border: 0;
}

.hero {
  padding-bottom: 37.5%; /* = ( 600 / 1600 ) x 100 */
  background-color: rgb(123, 161, 183);
  background-size: cover;
  height: 400px;
}