/* Menu */
nav{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-link{
  color: rgb(0, 0, 0);
}

/* All forms */
.form-group {
  margin-bottom: 1rem;
}

/* Register */
.form-signin {
    max-width: 330px;
    padding: 1rem;
}

/* Edit forms */
.box {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Index Footer */
.link-back{
  align-content: right;
  font-size: x-small;
}

/* Index Form */
input{
  margin-bottom: 1em;
}
textarea{
  margin-bottom: 1em;
}
header {
  height: 100px;
  background-color: rgb(255, 255, 255);
}

/* Any Card */
#logo-img{
  width: 30px;
}

#work-image{
  background-color: rgb(123, 161, 183);
  min-height: 100px;
  border: 0;
}

.hero {
  padding-bottom: 37.5%; /* = ( 600 / 1600 ) x 100 */
  background-color: rgb(123, 161, 183);
  background-size: cover;
  height: 400px;
}