<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Digital Business Card</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
<body class="magazine">

<div class = "container-fluid col-12 col-sm-8 col-lg-6 justify-content-between">

<!-- Authenticated Menu -->
{% if can_edit: %}
<div class="container">
  <div class="d-flex flex-wrap justify-content-left mb-2 border-bottom">
    <ul class="nav">
      <li class="nav-item"><a href="{{ url_for('edit_card', url_path=current_user.url_path)}}" class="nav-link magazine_temp">Edit Card</a></li>
      <li class="nav-item"><a href="{{ url_for('edit_account', url_path=current_user.url_path)}}" class="nav-link magazine_temp">Edit Account</a></li>
    </ul>
  </div>
</div>
{% endif %}



<!-- Profile Image-->
<div class="hero" style="position: relative; background-image: url('/static/images/profile_cropped.jpg')">
  <div class="justify-content-left position-absolute" style="bottom:10px">
    <div class="site-heading magazine_temp">
      <h1>{{ user.name }}</h1>
    </div>
    <div class="sub-heading magazine_temp">
      <h3>{{ user.job_title }}</h3>
    </div>
  </div>
</div>


<!-- Top details-->
<br>
  <div class="row d-flex justify-content-left">
    <div class="text-left">
      <p style="font-size: 14pt">{{user.company}} | {{ user.location}}</p>
      <p class="card-text text-start"><small>{{user.headline_description| safe}}</small></p>
      <a href="xyzabc.com" class="card-link" style="font-size: 14pt">{{user.website_link}}</a>
    <hr/>
      <div class="card-body">
        {% if user.social_plat1 and user.social_plat1!="" %}
        <a href="{{user.social_link1}}" class="pe-4"><img src="/static/social_icons/{{user.social_plat1}}.svg" width="35" height="35"/></a>
        {% endif %}
        {% if user.social_plat2 and user.social_plat2!="" %}
        <a href="{{user.social_link2}}" class="pe-4"><img src="/static/social_icons/{{user.social_plat2}}.svg" width="35" height="35"/></a>
        {% endif %}
        {% if user.social_plat3 and user.social_plat3!="" %}
        <a href="{{user.social_link3}}" class="pe-4"><img src="/static/social_icons/{{user.social_plat3}}.svg" width="35" height="35"/></a>
        {% endif %}
        {% if user.social_plat4 and user.social_plat14!="" %}
        <a href="{{user.social_link4}}" class="pe-4"><img src="/static/social_icons/{{user.social_plat4}}.svg" width="35" height="35"/></a>
        {% endif %}
      </div>
    <br>
      <a href="xyzabc.com" class="card-link" style="font-size: 14pt">{{user.displayed_email}}</a>          
      <p class="card-text text-start"style="font-size: 12pt">+1 {{user.phone}}</p>

    </div>
  </div>
<br/>







<!-- Buttons -->

<div class="d-flex card-body justify-content-around">

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#QRCodeModal" style="background-color: black; width: 150px">
  QR Code
</button>
<!-- Modal -->
<div class="modal fade" id="QRCodeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Scan your QR Code</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <img src="data:image/png;base64,{{ qr_img }}">
        </div>
    </div>
  </div>
</div>



    <button type="button" class="btn btn-warning" style="width: 150px"><a href="{{url_for('generate_vcf', url_path=user.url_path)}}">Save Contact</a></button>
  </div>


  <br/>
  <br/>

<!-- Works -->
  <div class="card text-left">
    <img src="{{work1_url}}"></img>
  </div>
  <br/>

  <div class="card text-left">
    <img src="{{work2_url}}"></img>
  </div>
  <br/>

  <div class="card text-left">
    <img src="{{work3_url}}"></img>
  </div>
  <br/>

  <div class="card text-left">
    <img src="{{work4_url}}"></img>
  </div>
  <br/>

  <div class="card text-left">
    <img src="{{work5_url}}"></img>
  </div>
  <br/>


<!-- Description -->
  <div>
    <p class="body-text magazine_temp card-text text-start">{{user.body | safe}}</p>
  </div>

  
<hr>
   <div class="container link-back align-items-right" >
   <p style="color:black">Digital Business Card made by 
    <a  href="{{url_for('home')}}">DigiBusi</a>
   </p>
   </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="/static/js/javacscript.js"></script>

</body>
</html>