{% include "header_card.html" %}


    <h1 class="text-center">Edit Account Details</h1>
    <!-- Form add divs to each element to center them -->
    {% from 'bootstrap4/form.html' import render_form %}


    <div class="container d-flex justify-content-center">
      <main class="form-signin box">
      <form action method="post" class="form" enctype="multipart/form-data" role="form" novalidate>

        <div class="form-group"><label class="form-control-label" for="email">Account Email to log in<br> Note: this is different than displayed email on business card</label>
          <input class="form-control" id="email" name="email" type="text" value={{current_user.email}}>
        </div>

        <div class="form-group"><label class="form-control-label" for="url_path">Unique URL Path</label>
          <input class="form-control" id="url_path" name="url_path" type="text" value={{current_user.url_path}}>
        </div>

        
        <button type="button" id="show-pass-form-button" onclick="showPasswordForm('password_form'); return false;" class="btn btn-warning" style="width: 100%; margin-bottom:1em">Change Password</button>
        
        <div id="password_form" style="display: none;">
          <div class="form-group"><label class="form-control-label" for="password">New Password</label>
            <input class="form-control" id="password" required type="password" name="password" type="text">
          </div>
    
          <div class="form-group"><label class="form-control-label" for="confirm">Confirm New Password</label>
            <input class="form-control" id="confirm" required type="password" name="confirm" type="text">
          </div>
        </div>
        
        <div class="form-group">
        <input class="btn btn-primary btn-md" id="submit" name="submit" type="submit" value="Update">
      </div>


      <hr/>
      <br>
      <a href="{{url_for('cancel_account', url_path=user.url_path)}}">Cancel Account</a>
      
    </form>
  </main>
    </div> 




    
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

 
</body>
</html>