{% include "header.html" %}
{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
<!-- Form add divs to each element to center them -->
{% from 'bootstrap4/form.html' import render_form %}

{% block content %}

<div class="container d-flex justify-content-center">
  <main class="form-signin box">
    <h1 class="h3 mb-3 fw-normal">Request Temporary Password</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <p style="color: red">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <p>Enter either your account email or URL path</p>
    {{ render_form(form, novalidate=True) }}
  </main>

</div>
{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>