{% include "header.html" %}


{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
  <p style="color: red">{{ message }}</p>
  {% endfor %}
{% endif %}
{% endwith %}

    <!-- Title -->
    <div class="container col-xxl-8 px-4 py-2">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="./static/images/magazine_temp_example.png" class="d-block mx-lg-auto img-fluid" alt="Digital Business Card Example" width="200" height="200" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Digital Business Card</h1>
            <p class="lead">Create a digital business card, share a QR code, add to you email signature, make a phone shortcut without downloading another app. Pricing starts at $1. Analytics is an additional $2. Custom domain adds another $2.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a class="btn btn-primary btn-lg px-4 me-md-2" href="{{url_for('register')}}" role="button">Create Card</a>
            </div>
          </div>
        </div>
      </div>

    

    <!-- Instructions Shortcut to Mobile Home -->
    <div class="container shadow min-vh-50 py-2">
      <div class="container network_wrapper col-sm p-2 ">
          <div class="card">
              <div class="card-header">
                  <h2 class="card-title">Add page shortcut to mobile homescreen</h2>
                  <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#iphone">iPhone</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-bs-toggle="tab" href="#android">Android</a>
                      </li>
                  </ul>
              </div>
              <form class="card-body tab-content">
                  <div class="tab-pane active" id="iphone">
                    <p class=" card-text">
                      Nobody wants to download another app. Access your card anywhere through a browser and create a shortcut on your phone home screen.
                    </p>
                    <ul class="text-start" style="margin: 1em">
                      <li>Open Google Chrome on your iPhone</li>
                      <li>Go to your card's URL</li>
                      <li>Tap the share button in the address bar of the browser on the top right corner</li>
                      <li>Tap on "Add to Home Screen"</li>
                      <li>Edit the name of the site and the URL if necessary</li>
                      <li>Tap the Add button at the top</li>
                    </ul>
                    <img src="/static/images/iphone_shortcut_instructions.png" style="max-width: 100%"></img>
                    
                  </div>
                  <div class="tab-pane" id="android">
                      <p class=" card-text">
                        Nobody wants to download another app. Access your card anywhere through a browser and create a shortcut on your phone home screen.
                      </p>
                      <ul class="text-start" style="margin: 1em">
                        <li>Open the Chrome app on your Android device</li>
                        <li>Go to your card's URL</li>
                        <li>Tap the 3-vertical-dot icon (⋮) in the top right corner</li>
                        <li>Tap on "Add to Home Screen"</li>
                        <li>Edit the name for the shortcut</li>
                        <li>Tap the Add button</li>
                      </ul>
                      <img src="/static/images/iphone_shortcut_instructions.png" style="max-width: 100%"></img>
                     
                  </div>
              </form>
          </div>
      </div>
    </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>