{% include "header.html" %}
<title>Seed Cards Login</title>
</head>
{% include "menu.html" %}

<h1 class="text-center">Login</h1>
<!-- Form add divs to each element to center them -->
{% from 'bootstrap4/form.html' import render_form %}
<div class="container d-flex justify-content-center">
  <main class="form-signin box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <p style="color: red">{{ messages[-1] }}</p>
    {% endif %}
    {% endwith %}

  
    {{ render_form(login_form, novalidate=True) }}
    <br>
    <a href="{{url_for('forgot_password')}}">Forgot password</a>
  </main>

</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>