    <!-- Nav Menu -->
          <nav class="navbar navbar-expand-lg mb-2">

            <span class="navbar-brand"></span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto me-3">

                  {% if logged_in %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('card', url_path=current_user.url_path)}}">My Card</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('edit_card', url_path=current_user.url_path)}}">Edit Card</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('edit_images', url_path=current_user.url_path)}}">Edit Images</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('edit_account', url_path=current_user.url_path)}}">Edit Account</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout')}}">Logout</a>
                  </li>
                  {% endif %}

                  {% if not logged_in %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('register')}}">Sign Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}">Login</a>
                  </li>
                  {% endif %}

                </li>

              </ul>

            </div>
          </nav>
