BEGIN:VCARD
FN:{{ display_name }}
ORG:{{ company }}
TITLE:{{ job_title }}
PHOTO:http://www.example.com/dir_photos/my_photo.gif
TEL:{{ phone }}
ADR: {{ address}}
{# EMAIL;type=INTERNET;type=WORK:dawg@uw.edu #}
EMAIL:{{ email }}
END:VCARD